/* Variaveis do Design Sys */
:root{
    --primary-color: #6366f1;
    --primary-hover: #4f46e5;
    --bg-color: #f8fafc;
    --text-color: #ffffff;
    --shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
    --radi: 8px;
    --font-main: "Montserrat", sans-serif ;
}

*{

}